<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
  // import Supervisor from "./views/Supervisor";
  export default {
    components: {
      // Supervisor
    },
  }
</script>
<style lang="scss">
  body {
    margin: 0;
    padding: 0;
  }
</style>
