<template>
  <div>
    <div class="menu">
      <h1 @click="active = !active">Меню</h1>
    </div>
    <div class="menu-list" v-if="active">
      <ul>
        <li>
          <h2>11111</h2>
        </li>
        <li>
          <h2>11111</h2>
        </li>
        <li>
          <h2>11111</h2>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        active: false
      }
    },
  }
</script>

<style scoped lang="scss">
  .menu-list {
    height: 450px;
    width: 100px;
    border: 1px solid blue;
  }
</style>
