<template>
  <div class="student">
    <div class="student-email">
      <h3>Email</h3>
    </div>

    <div class="student-name">
      <h3>ФИО</h3>
    </div>

    <div class="student-role">
      <h3>Фронт</h3>
    </div>

    <div class="student-test">
      <h3>50%</h3>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped lang="scss">
  .student {
    display: flex;
    width: 100%;
    text-align: center;

    .student-email {
      width: 25%;
      height: 50px;
      border-bottom: 1px solid #333333;
      border-right: 1px solid #333333;

      h3 {
        margin-top: 15px;
      }
    }

    .student-name {
      width: 25%;
      height: 50px;
      border-bottom: 1px solid #333333;
      border-right: 1px solid #333333;

      h3 {
        margin-top: 15px;
      }
    }

    .student-role {
      width: 25%;
      height: 50px;
      border-bottom: 1px solid #333333;
      border-right: 1px solid #333333;

      h3 {
        margin-top: 15px;
      }
    }

    .student-test {
      width: 25%;
      height: 50px;
      border-bottom: 1px solid #333333;

      h3 {
        margin-top: 15px;
      }
    }
  }
</style>
