<template>
  <div>
    <Teams />
    <Students />
  </div>
</template>

<script>
  import Teams from './Teams'
  import Students from './Students'
  export default {
    components: {
      Teams,
      Students
    }
  }
</script>

<style scoped lang="scss">
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
</style>
