<template>
  <div class="student-registration">
    <form @submit.prevent="goToTest">
      <h3>Регистрация</h3>
      <hr>

<!--      Выбор роли-->
      <div class="student-select-role">
        <label for="select-role">Роль</label>
        <select name="" id="select-role" v-model="selectRole" required>
<!--          <option value="0">Выберите роль</option>-->
          <option value="1">Фронт</option>
          <option value="2">Бэк</option>
          <option value="3">Аналитик</option>
          <option value="4">Тестировщик</option>
          <option value="5">Менеджер</option>
          <option value="6">Дизайнер</option>
        </select>
      </div>

<!--      ФИО студента (приходит с бэка)-->
      <div class="student-info">
        <label for="info">ФИО</label>
        <input type="text" id="info">
      </div>


<!--      e-mail студента (приходит с бэка)-->
      <div class="student-email">
        <label for="email">e-mail</label>
        <input type="email" id="email">
      </div>

<!--      Пароль-->
      <div class="student-password">
        <label for="password">Пароль</label>
        <input type="password" id="password" v-model="password" required minlength="8" maxlength="30">
      </div>

<!--      Подтверждение пароля-->
      <div class="student-repeat-password">
        <label for="repeat-password">Подтверждение пароля</label>
        <input type="password" id="repeat-password" v-model="passwordRepeat" required>
      </div>

<!--      Номер телефона студента (приходит с бэка)-->
      <div class="student-phone">
        <label for="phone">Телефон</label>
        <input type="tel" id="phone">
      </div>

<!--      Возраст-->
      <div class="student-age">
        <label for="age">Возраст</label>
        <input type="number" id="age" v-model="age" required>
      </div>

<!--      Опыт-->
      <div class="student-experience">
        <label for="experience">Опыт</label>
        <textarea id="experience" cols="10" rows="3" v-model="experience" required></textarea>
      </div>

<!--      Работает студент или нет-->
      <div class="student-work">
        <label for="work">Работаю</label>
        <input type="checkbox" id="work" v-model="work">
      </div>

<!--      Место учебы-->
      <div class="student-study-place">
        <label for="study-place">Место учебы</label>
        <input type="text" id="study-place" v-model="studyPlace" maxlength="256">
      </div>

<!--      Период обучения-->
      <div class="student-study-time">
        <label for="study-time">Период обучения</label>
        <input type="text" id="study-time" v-model="studyTime">
      </div>

<!--      Комментарий-->
      <div class="student-comment">
        <label for="comment">Комментарий</label>
        <textarea id="comment" cols="10" rows="3" v-model="comment"></textarea>
      </div>

<!--      Кнопка перехода к тесту (отправляет данные на сервер и переходит к тесту)-->
      <div class="student-button-test">
        <button type="submit">Перейти к тесту</button>
        <p>Нажимая на кнопку, вы соглашаетесь с обработкой персональных данных</p>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        selectRole: null,
        password: null,
        passwordRepeat: null,
        age: null,
        experience: null,
        work: false,
        studyPlace: null,
        studyTime: null,
        comment: null
      }
    },
    methods: {
      async goToTest () {
        // console.log('Роль: ',this.selectRole)
        // console.log('Пароль: ',this.password)
        // console.log('Подтерждение пароля: ',this.passwordRepeat)
        // console.log('Возраст: ', this.age)
        // console.log('Опыт: ', this.experience)
        // console.log('Работаю: ', this.work)
        // console.log('Место учебы: ', this.studyPlace)
        // console.log('Период обучения: ', this.studyTime)
        // console.log('Коммент: ', this.comment)
        await this.$router.push('/test')
      }
    }
  }
</script>

<style scoped lang="scss">
  .student-registration {
    display: flex;
    justify-content: center;

    form {
      margin-top: 100px;
      margin-bottom: 100px;
      /*height: 600px;*/
      width: 400px;
      border: 1px solid black;

      h3 {
        margin: 10px 0;
        padding: 0;
        text-align: center;
      }

      hr {
        width: 80%;
        margin: 0 auto;
      }

      .student-select-role {

        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        label {

        }

        select {
          margin-top: 5px;
          border: 1px solid #909090;
          background: white;
          height: 20px;
        }
      }

      .student-info {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: #cccccc;
          border: 1px solid #909090;
        }
      }

      .student-email {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: #cccccc;
          border: 1px solid #909090;
        }
      }

      .student-password {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
        }
      }

      .student-repeat-password {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
        }
      }

      .student-phone {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 15px auto 0;

        input {
          margin-top: 5px;
          background: #cccccc;
          border: 1px solid #909090;
        }
      }

      .student-age {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
        }
      }

      .student-experience {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        textarea {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
          resize: none;
        }
      }

      .student-work {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        margin: 0 auto;
        margin-top: 15px;

        label {
          margin-top: 3px;
        }

        input {
          height: 20px;
          width: 20px;
          margin-left: 10px;
        }
      }

      .student-study-place {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
        }
      }

      .student-study-time {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        input {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
        }
      }

      .student-comment {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 15px;

        textarea {
          margin-top: 5px;
          background: white;
          border: 1px solid #909090;
          resize: none;
          margin-bottom: 25px;
        }
      }

      .student-button-test {
        width: 80%;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: column;
        margin: 0 auto 5px;

        button {
          height: 25px;
        }

        p {
          font-size: 10px;
          color: #909090;
          margin: 10px 0 0;
        }
      }

    }
  }
</style>
