<template>
  <div>
    <header>
      <div class="logo">
        <h1>LOGO</h1>
      </div>
      <div class="user">
        <h1>USER</h1>
      </div>
    </header>
    <main>
<!--      <Menu />-->
      <StudentList />
    </main>
  </div>
</template>

<script>
// import Menu from "../components/Menu";
import StudentList from '..//components/StudentList'
export default {
  components: {
    StudentList,
    // Menu
  }
}
</script>

<style scoped lang="scss">
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;

    .logo {
      margin-left: 50px;
    }

    .user {
      margin-right: 50px;
    }
  }

  main {
    display: flex;

  }
</style>
